---
interface Props {
	title: string;
	body: string;
	github: string;
	link: string;
	skill: string;
	skilllink: string;
}

const { title, body, github, link, skill, skilllink } = Astro.props;
import { Icon } from 'astro-icon/components'

---
<div class="card">
	<div class="card-text">
		<p>{title}</p>
		<p>{body}</p>
	</div>
	<a href={github} target="_blank" class="cover-link"><div class="link-container"></div></a>
	<div class="links">
		<a href={link} target="_blank"><Icon name="mdi:web" class="grow" /></a>
		<a href={github} target="_blank"><Icon name="mdi:github" class="grow" /></a>
	</div>
	<div class="skills">
		<a href={skilllink} target="_blank"><Icon name=`skill-icons:${skill}` class="grow" /></a>
	</div>
</div>

<style>
	.card {
        background-color: var(--surface0);
        border-radius: 10px;
        box-shadow: 0 0 10px var(--surface0);
        border: 2px solid var(--overlay0);
        width: 400px;
        height: 200px;
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .card:hover {
        box-shadow: 0 0 10px var(--sapphire);
        border: 2px solid var(--sapphire);
    }

    .card-text {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 400px;
        margin: 0;
        height: 124px;
        
    }
    .card-text p:first-of-type {
        font-size: 16px;
        color: var(--text);
        font-weight: bold;
        margin: 20px;
        width: 360px
    }
    .card-text p:last-of-type {
        font-size: 16px;
        color: var(--subtext0);
        margin: 0 20px;
        width: 360px;
        height: 63px
    }

	.links {
        display: flex;
        gap: 10px;
        width: 82px;
        height: 36px;
        margin: 20px;
        margin-right: 98px;
        margin-top: -56px;
        align-items: center;
    }
    .skills {
        display: flex;
        gap: 10px;
        width: 36px;
        height: 36px;
        margin: 20px;
        margin-left: 144px;
        margin-top: -56px;
        align-items: center;
    }
    
    [data-icon] {
        border: 2px solid var(--subtext0);
        border-radius: 50%; 
    }
    .links [data-icon] {
        font-size: 32px;
        color: var(--subtext0);
    }
    .skills [data-icon] {
        font-size: 26px;
        padding: 3px;
        color: var(--subtext0);
    }
    [data-icon]:hover {
        color: var(--sapphire) !important;
        border: 2px solid var(--sapphire) !important
    }

    .links a {
        width: 36px;
        height: 36px;
    }
    .skills a {
        width: 36px;
        height: 36px;
    }

    .link-container,
    .cover-link  {
        width: 400px;
        height: 200px;
    }
    .cover-link {
        margin-top: -124px
    }
</style>